# Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
•	Popular Data Scientist Libraries
•	Sample Code
•	Popular Data Scientist Languages

Some of the popular languages that Data Scientists use are 1. R 2. Python 3. SQL

Some of the commonly used libraries used by Data Scientists include: 1.) Pandas 2.) ggplot2 3.) SQLite

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

#Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
E.P.